{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_bigbluebuttonbn/import_view

    This template renders the import recordings page.

    Example context (json):
    {"enabled" : true,
     "url"     : "https:\/\/moodle.example.org.at\/mod\/bigbluebuttonbn\/guestlink.php?gid=cXBWfCxKVSgU",
     "password": 123456,
     "changepassenabled":true
    }
}}
<div class="mod_bigbluebuttonbn_guestlink_view">
    {{#enabled}}
    <div class="w-100">
        <label for="guestlink" class="d-inline-block w-25"> {{# str }} guestlink, mod_bigbluebutton {{/ str }}</label>
        <input type="text" id="guestlink" class="d-inline-block w-50 readonly form-control" value="{{url}}" size="50"/>
        <div id="guestlink-copy" class="btn btn-secondary d-inline-block">{{#pix}} t/copy, mod_bigbluebuttonbn {{/pix}}</div>
    </div>
    <div class="w-100">
        <label for="password" class="d-inline-block w-25"> {{# str }} guestlinkpassword, mod_bigbluebutton {{/ str }} </label>
        <input type="text" id="password"  class="d-inline-block readonly form-control w-25" value="{{password}}" size="6"/>
        <div id="password-random" class="btn btn-secondary d-inline-block">{{#pix}} t/random, mod_bigbluebuttonbn {{/pix}}</div>
        <div id="password-copy" class="btn btn-secondary d-inline-block">{{#pix}} t/copy, mod_bigbluebuttonbn {{/pix}}</div>
        <div id="password-delete" class="btn btn-secondary d-inline-block">{{#pix}} t/trash, mod_bigbluebuttonbn {{/pix}}</div>
    </div>
    {{/enabled}}
</div>